.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.album {
  margin: 20px;
  padding: 20px;

  max-width: 350px;
  text-wrap: wrap;
}

.album img {
  width: 350px;
}
