<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/css/all.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="icon" href="/static/media/favicon.ico" type="image/x-icon">
  <title>Musik</title>
</head>
<body>
  <header>
    <div class="header-row">
      <img src="/static/media/logga/logga.png">
      <h1>Musik.</h1>
    </div>

    <hr>
    <p>Tröttnat på utbudet? Lägg till <i>din</i> favoritmusik <a href="/new">här</a></p>
    <hr>
  </header>

  <div class="content">
    {% for album in albums %}
      <div class="album">
        <a href="/album/{{ album.id }}">
          <img src="/static/media/albums/{{ album.id }}/cover.jpg" alt="Album cover">
        </a>
        <h2>{{ album.name}}</h2>
      </div>
    {% endfor %}
  </div>
</body>
</html>
